.place-header-section {
  background-color: #143964;
  padding: 10px 0;
  .place-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    .header-right {
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 22px;
        font-weight: 700;
      }
    }
    .header-left {
      button {
        background-color: transparent;
        border: none;
        outline: none;
        img {
          height: 28px;
          width: 28px;
        }
      }
      p {
        color: #888888;
        font-weight: 300;
        margin-bottom: 0;
      }
    }
  }
}

.place-header-content {
  .content-top {
    text-align: center;
    padding: 25px 0;
    font-size: 20px;

    h4 {
      font-weight: 400;
      margin: 15px 0;
      font-size: 17px;
    }
    h3 {
      font-weight: 700;
      font-size: 17px;
    }
  }
  .line {
    border-top: 2px solid #99999980;
    width: 100%;
    margin: 0 auto;
  }
  .content-bottom {
    text-align: center;
    padding: 25px 0;
    font-size: 20px;

    h1 {
      font-size: 20px;
      font-weight: 700;
      margin: 15px 0;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    .main-button{}
  }
}
