.survey-header {
  background-color: #9c6fd6;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  .header-inner {
    justify-content: center;
    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      color: #ffffff;
      margin-bottom: 0;
    }
  }
}

.survey-content {
  padding: 15px 20px 12px;
  .survey-content-top {
    padding-bottom: 30px;
    h2 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 24px;
      font-weight: 700;
      text-decoration: underline;
      margin-bottom: 0;
    }
  }
  .survey-list {
    ul {
      line-height: 22px;
      padding-left: 0;
      padding-right: 8px;
      li {
        font-size: 14px;
        font-weight: 400;
        list-style-type: decimal;
        p {
          font-size: 11px;
          font-weight: 400;
        }
        .rating {
          display: flex;
          justify-content: space-around;
          padding-top: 16px;
          padding-bottom: 5px;
          flex-direction: row-reverse;
          button {
            border: none;
            outline: none;
            background-color: #d9d9d9;
            border-radius: 50%;
            height: 31px;
            width: 31px;
            font-size: 16px;
            font-weight: 400;
            line-height: 31px;
            text-align: center;
            color: #000000;
            &.active {
              background-color: #a103a5;
              color: #ffffff;
            }
          }
        }
        .rating-btns {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;
          button {
            background-color: transparent;
            border: none;
            outline: none;
            color: #696969;
            font-size: 9px;
            font-weight: 400;
          }
        }
      }
    }
  }

  .survey-popup-btn {
    text-align: center;
    button {
      background-color: #842c86;
      color: #ffffff;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 10px 15px;
      padding-left: 50px;
      text-align: right;
      position: relative;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5em;
      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          color: #ffffff;
        }
      }
      &::after {
        content: "";
        position: absolute;
        background: url("../images/icons/btn-arrow.svg") no-repeat 0 0;
        height: 17px;
        width: 15px;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    padding: 22px 14px;
    background: #fff;
    border-radius: 5px;
    width: 224px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #842c86;
      line-height: 27px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: #636363;
      margin-bottom: 18px;
      line-height: 21px;
    }
    img {
      display: block;
      margin: 0 auto;
      width: 72px;
      height: 83px;
      margin-bottom: 18px;
    }
    a {
      font-size: 12px;
      font-weight: 400;
      color: #636363;
      text-align: center;
    }
    div {
      text-align: center;
    }
  }
}
