.venue-content {
  padding-bottom: 16px;
  .venue-content-top {
    padding: 22px 0 31px;
    display: flex;
    justify-content: space-around;
    .head-content {
      color: #5e6b23;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      h2 {
        font-size: 24px;
        font-weight: 800;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
      }
    }
  }
  .choose-venue {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
  }
  .navigator-icons {
    padding: 0 0 0 18px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    a {
      text-decoration: none;
      color: #aaaaaa;
      font-size: 10px;
      font-weight: 400;
      text-align: center;
      img {
        margin-bottom: 11px;
        display: block;
      }
    }
  }
}

.venue-area {
  padding: 10px 0;
  .gmap_canvas {
    text-align: center;
    overflow: hidden;
    background: none !important;
    height: 206px;
    width: 100%;
  }
  #gmap_canvas {
    width: 100%;
  }
  .mapouter {
    position: relative;
    text-align: right;
    width: 100%;
  }
  .gallery-image {
    text-align: center;
    margin-top: 50px;
  }

  .venue-gallery {
    padding: 25px 0 8px;
    text-align: center;

    h2 {
      font-size: 16px;
      font-weight: 700;
    }
    h3 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 36px;
    }
  }
}

.venue-discription {
  padding-top: 25px;
  text-align: center;
  p {
    font-size: 14px;
    font-weight: 400;
  }
}
