@charset "UTF-8";
/*
           Table OF Content


0 - Plugins
    a - bootstrap
    b - fontawesome
1 - Abstracts
    a - variables
    b - extends
    c - css3-mixins
    d - mixins
    e - loops
2 - Base
    a - animations
    b - bg-colors
    c - text-helpers
    d - mix-helpers
    e - base
3 - Components
    a - icons
    b - boxes
    c - buttons
    d - carousel
    e - forms
    f - lists
    g - modals
    h - tabs
4 - Layouts
    a - footer
    b - header
5 - section
    a - hero
6 - Pages
    a - home
*/
/*--------------*\
    Animations
\*--------------*/
/*--------------*\
    bg-color
\*--------------*/
/*--------------*\
    text-helpers
\*--------------*/
.text-underline {
  text-decoration: underline !important;
}

.txt-black {
  color: #000 !important;
}

/*--------------*\
    Mix-Helpers
\*--------------*/
.box-glow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.separator-with-text {
  display: flex;
  align-items: center;
}
.separator-with-text:before, .separator-with-text:after {
  flex: 1;
  width: 100%;
  content: "";
  display: inline-block;
}
.separator-with-text:before {
  margin-right: 20px;
}
.separator-with-text:after {
  margin-left: 20px;
}

.row-7 {
  margin-left: -7px;
  margin-right: -7px;
}
.row-7 > div[class^=col-] {
  padding-left: 7px;
  padding-right: 7px;
}

@media only screen and (max-width: 767.98px) {
  .mobile-no-bg {
    background: none !important;
  }
}

.social-list {
  list-style: none;
}
.social-list li {
  display: inline-block;
}
.social-list li:not(:last-child) {
  margin-right: 20px;
}
.social-list li a {
  font-size: 22px;
  text-align: center;
}
.social-list li a i {
  color: rgba(255, 255, 255, 0.5);
}
.social-list li a:hover i.fa-facebook {
  color: #3b5998;
}
.social-list li a:hover i.fa-facebook-f {
  color: #3b5998;
}
.social-list li a:hover i.fa-twitter {
  color: #1da1f2;
}
.social-list li a:hover i.fa-linkedin {
  color: #0077b5;
}
.social-list li a:hover i.fa-youtube-play {
  color: #cd201f;
}

/*--------------*\
    Icon Section
\*--------------*/
.dot:before {
  content: "•";
}

i[class*=h-icon-] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-facebook {
  display: inline-block;
  background-image: url("../images/icons/facebook.svg");
  width: 10px;
  height: 10px;
}

.icon-twitter {
  display: inline-block;
  background-image: url("../images/icons/twitter.png");
  width: 20px;
  height: 20px;
}

.icon-linkedin {
  display: inline-block;
  background-image: url("../images/icons/linkedin.svg");
}

/*--------------*\
    Base
\*--------------*/
body {
  font-family: "Noto Sans Hebrew", sans-serif;
  background-color: #ffffff !important;
  position: relative;
  padding-bottom: 79px;
  min-height: 100vh;
}

.container {
  max-width: 767px;
  margin: 0 auto;
}

.bg-blue {
  background-color: #143964;
}

.btn-main-blue {
  background-color: #143963;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  padding-left: 50px;
  text-align: right;
  position: relative;
  font-size: 14px;
  line-height: 1.5em;
  width: 100%;
}
.btn-main-blue::after {
  content: "";
  position: absolute;
  background: url("../images/Vector.png") no-repeat 0 0;
  height: 27px;
  width: 35px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.check-circle {
  display: block;
  margin: 0 auto;
  width: 36px;
  height: 36px;
  border: 3px solid #143964;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
}

.wizard-steps {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.wizard-steps .step {
  width: 25%;
}
.wizard-steps .step p {
  margin-bottom: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5em;
  color: #636363;
}
.wizard-steps .step span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  text-align: center;
  line-height: 14px;
  background-color: #AAAAAA;
  font-family: "Poppins";
  font-size: 9px;
  color: #DFDFDF;
  border-radius: 50%;
}
.wizard-steps .step + .step {
  position: relative;
}
.wizard-steps .step + .step:after {
  content: "";
  display: block;
  width: calc(100% - 26px);
  height: 1px;
  background-color: rgba(20, 57, 100, 0.5);
  position: absolute;
  left: calc(50% + 13px);
  bottom: 6px;
}
.wizard-steps .step.active {
  color: #143963;
}
.wizard-steps .step.active span {
  position: relative;
  overflow: hidden;
}
.wizard-steps .step.active span:after {
  content: "✔";
  background-color: #143963;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1;
  width: 14px;
  height: 14px;
  line-height: 14px;
}

.wizard-section {
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  padding: 9px 0 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/*--------------*\
    header Section
\*--------------*/
.main-header {
  color: #ffffff;
  text-align: center;
  padding: 7px 0;
}
.main-header h2.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.main-header h6.title {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 3px;
}
.main-header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .header-right {
  color: #ffffff;
  text-align: right;
}
.main-header .header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-header .header-left button {
  background-color: transparent;
  outline: none;
  border: none;
}
.main-header .header-left button img {
  height: 28px;
  width: 28px;
}
.main-header .header-left p {
  color: #888888;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 0;
}

/*--------------*\
    Footer Section
\*--------------*/
/*--------------*\
    Home Page
\*--------------*/
.notification {
  text-align: center;
  padding: 10px 0;
}
.notification p {
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
.notification.success p {
  background-color: rgba(0, 255, 0, 0.4392156863);
  color: #228711;
  font-size: 11px;
  font-weight: 400;
  padding: 3px 21px 3px 15px;
}
.notification.success p:before {
  content: "✔";
  position: absolute;
  height: 18px;
  width: 18px;
  right: 3px;
  top: 3px;
  z-index: 1;
  color: #228711;
}
.notification.danger p {
  background-color: rgba(255, 0, 0, 0.4392156863);
  color: #ff0000;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 3px 25px 3px 27px;
}
.notification.danger p:before {
  content: url("../images/cross-red.png");
  position: absolute;
  height: 10px;
  width: 10px;
  right: 10px;
  top: 6px;
  z-index: 1;
}

.main-section .text-danger {
  color: #FF3700;
  font-weight: 400;
  margin-top: 10px;
}
.main-section .main-content {
  text-align: center;
}
.main-section .main-content img {
  width: 100%;
}
.main-section .main-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 7px;
  padding: 0 5px;
}
.main-section .main-links a {
  color: rgba(255, 55, 0, 0.7490196078);
}
.main-section .main-button {
  margin-bottom: 25px;
}

.home-modal {
  padding-bottom: 20px;
}
.home-modal .modal-body {
  padding-bottom: 0;
}
.home-modal .modal-body h2 {
  color: #143963;
  font-size: 24px;
  font-weight: 700;
}
.home-modal .modal-body p {
  color: #636363;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 22px;
  margin-top: 25px;
}
.home-modal .modal-body .reminder {
  background-color: #143963;
  color: #ffffff;
  padding: 12px;
  padding-left: 40px;
  margin-bottom: 42px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
}
.home-modal .modal-body .reminder::after {
  content: "";
  position: absolute;
  background-image: url("../images/Vector.png");
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
  left: -20px;
  top: 11px;
  z-index: 999;
}
.home-modal .btn-close {
  margin: -0.5rem 0 -0.5rem -0.5rem;
  position: absolute;
  top: -13px;
  right: -18px;
  background-color: #d9d9d9;
  border-radius: 50px;
  color: #143964;
  opacity: 1;
  border: 1px solid #FFFFFF;
  width: 28px;
  height: 28px;
}
.home-modal .close-app {
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  background-color: #f1f1f1;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.tables-container {
  position: relative;
}

.table-content {
  padding-top: 15px;
}
.table-content p {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 1.7rem;
}
.table-content .stage {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 1px;
  position: absolute;
  top: 120px;
  width: 80px;
  height: 170px;
  font-size: 14px;
  line-height: 1.4em;
  display: flex;
  align-items: center;
}
.table-content .stage p {
  color: #aaaaaa;
  margin-bottom: 0;
  text-align: center;
}
.table-content table {
  width: 100%;
  margin-top: 20px;
}
.table-content table tbody {
  line-height: 80px;
  position: relative;
}
.table-content table tbody td {
  text-align: left;
}

.reminder-content {
  padding-top: 22px;
  text-align: center;
}
.reminder-content .gray-box {
  background-color: #F8F8F8;
  padding: 35px 15px 30px;
  margin-top: 27px;
}
.reminder-content .gray-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 23px;
  color: #143964;
}
.reminder-content .gray-box p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 50px;
}
.reminder-content .gray-box button {
  color: #AAAAAA;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.place-header-section {
  background-color: #143964;
  padding: 10px 0;
}
.place-header-section .place-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.place-header-section .place-header-content .header-right p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.place-header-section .place-header-content .header-right h2 {
  font-size: 22px;
  font-weight: 700;
}
.place-header-section .place-header-content .header-left button {
  background-color: transparent;
  border: none;
  outline: none;
}
.place-header-section .place-header-content .header-left button img {
  height: 28px;
  width: 28px;
}
.place-header-section .place-header-content .header-left p {
  color: #888888;
  font-weight: 300;
  margin-bottom: 0;
}

.place-header-content .content-top {
  text-align: center;
  padding: 25px 0;
  font-size: 20px;
}
.place-header-content .content-top h4 {
  font-weight: 400;
  margin: 15px 0;
  font-size: 17px;
}
.place-header-content .content-top h3 {
  font-weight: 700;
  font-size: 17px;
}
.place-header-content .line {
  border-top: 2px solid rgba(153, 153, 153, 0.5019607843);
  width: 100%;
  margin: 0 auto;
}
.place-header-content .content-bottom {
  text-align: center;
  padding: 25px 0;
  font-size: 20px;
}
.place-header-content .content-bottom h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0;
}
.place-header-content .content-bottom p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}
.done-content {
  padding-top: 30px;
}
.done-content .done-inner-content {
  text-align: center;
}
.done-content .done-inner-content h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 8px 0 10px;
}
.done-content .done-inner-content h3 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
.done-content .done-inner-content h4 {
  font-size: 16px;
  font-weight: 400;
  padding: 0 45px;
  margin-bottom: 20px;
}
.done-content .done-inner-content p {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.done-content .done-inner-content p:before {
  content: "";
  background: url("../img/glass.svg") no-repeat 0 0;
  width: 37px;
  height: 38px;
  position: absolute;
  top: -35px;
  left: 1px;
}
.done-content .done-section-buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 40px;
}
.done-content .done-section-buttons a {
  background-color: #143964;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  line-height: 1.5em;
}
.done-content .done-section-buttons a img {
  display: block;
  margin: 0 auto 5px;
}

.calender-content {
  padding: 22px 0 39px;
}
.calender-content .calender-content-top img {
  margin-bottom: 16px;
}
.calender-content .calender-content-top h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.calender-content .calender-content-top .calender-btn {
  text-align: center;
}
.calender-content .calender-content-top .calender-btn button {
  font-size: 12px;
  font-weight: 400;
  max-width: 147px;
  padding: 5px 16px;
}
.calender-content .calender-content-top .calender-btn button::after {
  background: url("../img/small-arrow-btn.svg") no-repeat 0 0;
  width: 8px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.calender-content .calender-content-top .calender-icons {
  padding: 39px 0 18px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.calender-content .calender-content-top .calender-icons a {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.calender-content .calender-line {
  border-top: 1px solid rgba(153, 153, 153, 0.5019607843);
}
.calender-content .calender-content-bottom {
  padding-top: 16px;
}
.calender-content .calender-content-bottom img {
  margin-bottom: 4px;
}
.calender-content .calender-content-bottom p {
  color: #636363;
  font-size: 13px;
  font-weight: 400;
}

.venue-content {
  padding-bottom: 16px;
}
.venue-content .venue-content-top {
  padding: 22px 0 31px;
  display: flex;
  justify-content: space-around;
}
.venue-content .venue-content-top .head-content {
  color: #5E6B23;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.venue-content .venue-content-top .head-content h2 {
  font-size: 24px;
  font-weight: 800;
}
.venue-content .venue-content-top .head-content p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.venue-content .choose-venue {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.venue-content .navigator-icons {
  padding: 0 0 0 18px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.venue-content .navigator-icons a {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.venue-content .navigator-icons a img {
  margin-bottom: 11px;
  display: block;
}

.venue-maps {
  background-color: #d8eaf6;
  width: 92%;
  margin: 0 auto;
  padding: 10px 0;
}
.venue-maps .gmap_canvas {
  text-align: center;
}
.venue-maps .gallery-image {
  text-align: center;
  margin-top: 50px;
}

body {
  padding-bottom: 0;
}

.summary-section-content {
  padding-top: 25px;
}
.summary-section-content .summary-content {
  line-height: 26px;
}
.summary-section-content .summary-content img {
  margin-bottom: 12px;
}
.summary-section-content .summary-content h2 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0;
}
.summary-section-content .summary-content p {
  font-size: 14px;
  font-weight: 400;
}
.summary-section-content .summary-content h3 {
  font-size: 14px;
  font-weight: 700;
}
.summary-section-content .summary-mail {
  text-align: center;
  padding: 5px 0;
}
.summary-section-content .summary-mail input {
  display: block;
  margin: 0 auto;
  width: 75%;
  margin: 0 auto;
  outline: none;
  background-color: #F6F6F6;
  border-color: rgba(136, 136, 136, 0.5019607843);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 18px;
}
.summary-section-content .summary-mail .mail-btn {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  max-width: 174px;
  margin-bottom: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
}
.summary-section-content .summary-mail .mail-btn:after {
  background: url("../img/btn-mail.svg") no-repeat 0 0;
  height: 15px;
}
.summary-section-content .summary-mail p {
  margin-bottom: 17px;
  color: #636363;
}
.summary-section-content .summary-mail .download-btn {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}
.summary-section-content .summary-mail .download-btn:after {
  background: url("../img/download.svg") no-repeat 0 0;
  height: 20px;
  left: 62px;
}/*# sourceMappingURL=main.css.map */