

/* ------------------------------------------------------------------------------- */
/*  4. About
/* ------------------------------------------------------------------------------- */



.skills-bar{
    margin-top: 4em;
    .progress{
        overflow: visible;
        height: 0.3em;
        margin-bottom: 2.7em;
        border-radius: 0;
        .progress-bar-title{
            font-family: $main-font-family;
            font-weight: 700;
            font-size: 0.7em;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: $progrees-bar-color;
            margin-bottom: 0.5em;
          }
          .progress-bar{
            font-family: $main-font-family;
            position: relative;
            background-color: $brands-color;
            color: $dugong;
            span {
                position: absolute;
                top: -30px;
                right: 0px;
              }
          } 
      }
  }