form#distance_form {
    padding-left: 37px;
    align-items: center;
    padding-top: 23px;
}
form#distance_form .form-group {
    margin-bottom: 26px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
ul.list-group {
    list-style: none;
}
ul.list-group li {
    margin-bottom: 18px;
}
ul.list-group li span{
    display: inline-block;
    margin-left: 50px;
}