/*--------------*\
    Icon Section
\*--------------*/

.dot {
  &:before {
    content: "\2022";
  }
}

i {
  &[class*="icon-"] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

$icons: (
  "facebook" "svg" 10px 10px,
  "twitter" "png" 20px 20px,
  "linkedin" "svg" 20px 20px,
  "back" "svg" 22px 22px,
  "mail" "svg" 31px 31px,
  "calender" "svg" 36px 40px,
  "heart" "svg" 24px 20px,
  "arrow" "svg" 16px 26px,
  "vector" "svg" 20px 27px,
);

@each $name, $fileType, $width, $height in $icons {
  .icon-#{$name} {
    display: inline-block;
    background-image: url($icons-path + "/" + $name + "." + $fileType);
    @if ($width != "") {
      width: $width;
    }
    @if ($height != "") {
      height: $height;
    }
  }
}
