/*--------------*\
    header Section
\*--------------*/

.main-header{
  color: #ffffff;
  text-align: center;
  padding: 7px 0;

  h2.title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
  }
  h6.title{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 3px;
    font-family: 'Poppins', sans-serif;
  }

  .header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-right {
    color: #ffffff;
    text-align: right;
  }

  .header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    button {
      background-color: transparent;
      outline: none;
      border: none;
      img {
        height: 22px;
        width: 22px;
      }
    }

    p {
      color: #BBBBBB;
      font-size: 9px;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}