


/* 1.7 Colors */



.text-white{
    color:#fff;
  }
  
  .text-opacity{
    opacity: 0.7;
  }
  
  .text-dark{
    color:#343434;
  }
  
  .text-primary{
    color:#cc4277;
  }
  
  
  
  /* 1.8 Backgrouns */
  
  
  
  .bgc-white{
    background-color: #fff;
  }
  
  .bgc-light{
    background-color: #f7f7f7;
  }
  
  .bgc-dark{
    background-color: #282828;
  }
  
  .bgc-primary{
    background-color:#cc4277;
  }