*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font: 50px;
    margin-bottom: 0;
}
h2{
    font-size: 30px;
}
p{
    margin-bottom: 0;
    font-weight: 600;
}
span{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
.navbar-collapse .navbar-nav .nav-link {
    font-family: 600 !important;
}
.display{
    display:flex;
    justify-content: center;
    align-items: center;
}
.top__header{
    background: #677be7;
    height: 58px;
    padding: 0px 58px;
    display: flex;
    align-items: center;
}
.top__header span {
    padding: 0px 27px;
    font-size: 17px;
    color: #fff;
}
.resonsive__menu {
    display: flex;
    width: 100%;
}
.menu{
    display: flex;
    width:100%;
    justify-content:space-between;
}

.bottom__header{
    background:#fff;
}
.navbar {
    height:195px;
}

.navbar-collapse{
    height:100%;
}
.bottom__header .navbar-brand {
    width: 237px;
    padding: 20px 9px;
}
.navbar-collapse .navbar-nav .nav-item {
    margin-right: 45px;
    padding-top: 17px;
}

.navbar-collapse .navbar-nav .nav-link {
    color: #003569 !important;
    font-size: 25.7px;
}
.navbar-nav{
    margin-left: auto;
}
.adim__contact p:nth-child(1){
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 400;
    color: #677be7;
}
.adim__contact p:nth-child(2){
    font-size: 29px;
    font-weight: 600;
}






/* cars brands */
.cars__brands__title{
  display: inline-block;
  margin: 80px 0px;

}
.cars__manufacture {
    margin-left: auto;
}
.cars__manufacture p:nth-child(1){
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 400;
    color: #677be7;
}
.cars__manufacture p:nth-child(2){
    font-size: 37px;
    font-weight: 600;
}
.cars__company__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: top;
    position: relative;
    height: 100px;
}
.cars__company__logos:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: lightgray;
    width: 100%;
    height: 1px;
}
.cars__company__logos:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: lightgray;
    width: 100%;
    height: 1px;
}
.company__logos {
    width: 20%;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.cars__links {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 63px;
}
.cars__links ul {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    border-bottom: none;
    
}
.cars__links li {
    margin-right: 39px;
    font-size: 17px;
    font-weight: bold;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: black;
    font-size: 25px;
    font-weight: 500;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #677be7;
    background-color: #fff;
    border-color: transparent;
    border-bottom: 3px solid #677be7;
}
.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: #ebebeb !important;
    box-shadow: none;
}

/* cars */
.brands {
    margin-top: 120px;
    position: relative;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    border-radius: 50%;
}
.owl-dots {
    top: -70px;
    position: absolute;
    left: 30%;
}
.owl-dots button:nth-child(1){
    background:red;
}
.owl-dots button:nth-child(2){
    background:black;
}
.owl-dots button:nth-child(3){
    background:blue;
}
.owl-dots button:nth-child(4){
    background:purple;
}
.owl-dots button:nth-child(5){
    background:goldenrod;
}
.bg{
    position: relative;
    padding-top: 36px ;
 
}
.available {
    position: absolute;
    top: -71px;
    left: -2px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}
.bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #677be7;
    width: 100%;
    height: 370px;
    z-index: -2;
}
.mvp__cars {
    display: flex;
    padding: 80px 0px;
}
.mvp__cars img.img-fluid {
    opacity: .4;
    transform: scale(1);
    transition: .5s;
}
.mvp__cars  img.img-fluid:hover {
    opacity: 1;
    transform: scale(1.2);
}
.mvp__car {
    padding: 10px 20px;
}
.car-text .car__title h1 {
    font-size: 37px;
    color: white;
    position: relative;
    padding-top: 10px;
    font-weight: 600;
}
.car-text .car__title h1:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 3px;
    background: lightgray;
    content: "";
  
}
.car-text .car__title p{
    font-size: 27px;
    font-weight: 100;
    color: white;

}
.car__description {
    margin-top: 40px;
    color: white;

}
.car__description h1 {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 14px 0px;
}
.car__description p{
    font-size:18px;
    font-weight: 400;
}
.car-text  .car__colors {
    display:flex;
    justify-content:flex-end
}
.car__colors{
    color:white !important;
    font-weight: 500;
}
.car-text  .car__colors button {
    border-radius: 50%;
    display: block;
    width: 25px;
    height: 25px;
    background: green;
    margin-left: 20px;

}

.car-text  .cars {
    margin-top: 80px;
}
.vedio__title h1 {
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 40px;
}
.vedio__tumbnail {
    height: 386px;
}
.vedio__tumbnail img{
    height:100%;
}
.specefication__title {
    margin: 80px 0px;
}
.intrest__form_title h1{
    font-size: 38px;
    font-weight: 600;
    color: white;
    padding: 50px 0px;
}
.specefication__title h1{
    font-size:25px;
    font-weight: 600;
}
.specefication__tabs h1 {
    font-weight: 600;
    font-size: 29px;
    padding: 50px 0px;
}
.accordion-item button {
    background: #ebebeb;
    font-size: 25px;
    font-weight: 600;
}
.accordion-item {
    background-color: #fff;
    border: none;
}
.accordion-button:focus {
    z-index: 3;
    border: none !important;
    border-color: transparent;
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #677be7;
    box-shadow: none;
}
.accordion-button.button__1::after {
   display:none;
}

.accordion-button.button__1:not(.collapsed)::after {
    display: none;
}
.accordion-button.button__2::after {
    display:none;
}
.accordion-button.button__2:not(.collapsed)::after {
    display:none;
}
.accordion-button.button__3::after {
    display:none;
}
.accordion-button.button__3:not(.collapsed)::after {
    display:none;
}
button.accordion-button img {
    margin-left: auto;
    width: 32px;
    height: auto;
}
.nav {
    justify-content: space-between;
    border-bottom: none !important;
    width:80%;
}
.form__section{
    background:#677be7;
    padding: 30px;
}
.intrest__form input {
    border-radius: 50px;
    background: transparent;
    height: 50px;
}
.intrest__form input::placeholder{
    color: white;
}
.intrest__form a {
    background: white;
    width: 100%;
    border-radius: 50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
.intrest__form a i {
    font-size: 33px;
}
/* instagram */
.instagram{
display:flex;
flex-direction: column;
align-items: center;
}
.intrest__form_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.intrest__form_title img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}
.intrest__form_title h1 {
    font-size: 38px;
    font-weight: 600;
    color: white;
    padding: 50px 0px;
}
.instagram__post {
    height: 225px;
}
.instagram__post img{
    height:100%;
    width: 100%;
}
.instagram h1{
  letter-spacing: 4px;
  font-size: 22px;
}
.instagram__icon p{
    font-size: 17px;
    font-weight:600;
}
.instagram__icon {
    justify-content: center;
    align-items: center;
    display: flex;
}
.insta__icon i {
    font-size: 30px;
    margin-right: 16px;
}
.form-control:focus {
    color: #212529;
    background-color: transparent;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    outline: none;
    box-shadow: none;
}
/* foter */
.footer__section {
    padding: 10px;
}
.footer__section .footer__logo {
    width: 70%;
    margin-bottom: 41px;
}
.footer__section .logo__text h2 {
    font-size: 19px;
    font-weight: 600;
    margin-top: 43px;
}
.footer__section .logo__text ul li a{
color:black;
}
.footer__section .logo__text ul li a i{
    color:#86b7fe;
    margin-right: 10px;
    font-size: 14px;
    }
.bottom__footer {
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding: 20px 0px;
    /* text-align: center; */
}


.accordion-header > button:before {
    float: right !important;
    font-family: FontAwesome;
    content:"—";
    padding-right: 5px;
    font-size: 30px;
    margin-right: 12px;
  
}
.accordion-header > button.collapsed:before {
    float: right !important;
    content: "+";
    font-size: 40px;
    margin-right: 12px;
}


.accordion-header> button:hover, 
.accordion-header > button:active, 
.accordion-header > button:focus  {
    text-decoration:none;
}

 .info2, .info3, .info4 {
    display: none;
  /* when the page loads none of the info panels show */
  }
  .cars img {
    width: 100% !important;
    height: 100% !important;
}

.tabs__show{
    display: none;
}
.abc{
    display:block;
}
.xy{
    display:none;
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .navbar {
        height: 100px;
    }
    .bottom__header .navbar-brand {
        width: 146px;
        padding: 20px 0px;
    }
    .bottom__header .navbar-brand {
        width: 143px;
        padding: 9px 0px;
    }
    .top__header {
        padding: 0px 0px;
    }
    .top__header span {
      font-size:8px;
    }
    div#navbarSupportedContent {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 8;
        width: 100%;
        height: 100vh;
        transition: .5s;

        
    }
    .cars__brands__title {
        display: inline-block;
        margin: 15px 0px;
    }
    .company__logos img {
        object-fit: contain;
    }
    .company__logos { 
        padding: 10px;
    }
    .menu {
        display:unset;
        width: 70%;
        background: #003569 !important;
        height: 100vh;
        padding: 10px 25px;
    }
    .colse__btn {
        width: 30%;
        height:100vh;
    }
    .colse__btn  button{
        width: 100%;
        height:100%;
    }
    .display{
        display:unset;
    }
    .resonsive__menu {
        display: flex;
    }
    .show{
        left:0 !important;
    }
    .responive__logo{
        display:flex;
        justify-content: space-between;
        align-items: center;
        
    }
    .responive__logo button{
        height:40px;
        border: 1px solid white !important;
    }
    .responive__logo button span {
        display: block;
        width: 20px;
        height:20px;
        height: 3px;
        background: white;
        margin-top: -2px;
        
    }
    .responive__logo button span:nth-child(1){
        transform: rotate(45deg);
    }
    .responive__logo button span:nth-child(2){
        transform: rotate(-45deg);
    }
    .navbar-collapse .navbar-nav .nav-link {
        color: white !important;
        font-size: 18px;
    }
    .adim__contact p {
        color: white !important;
       
    }
    .adim__contact p:nth-child(1) {
        padding-top: 20px;
    }
    .adim__contact p:nth-child(2) {
        font-size:20px;
    }
    .car-text {
        margin-top: 46px;
    }
    .bg:before {
        height: 100%;
    }
    .car-text .car__colors span {
        margin-left: 14px;
    }
    .cars__links li {
        margin-right: 7px;
        font-size: 12px;
    }
   
    .mvp__cars {
        padding: 25px 0px;
    }
    .bg {
        padding-top: 0px;
    }
    .footer__section .logo__text h2 {
        margin-top: 0px;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        color: black;
        font-size: 17px;
        font-weight: 400;
        padding: 11px;
    }
    .cars__links {
        padding-top: 35px;
    }
    .brands {
        margin-top: 100px;
    }
    .specefication__title {
        margin: 30px 0px;
    }
   
    
    .nav {
        width: 100%;
    }    
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        font-size: 16px;
        padding: 5px;
    }
    .specefication__tabs h1 {
        font-size: 26px;
        padding: 35px 0px;
    }
    .intrest__form_title h1 {
        font-size: 28px;
        padding: 30px 0px;
    }
    .intrest__form input {
        margin-bottom: 17px;
    }
    .footer__ p{
        color: black !important;
    }
    
    .tab-container-one .nav-tabs .nav-item {
        font-size: 11px;
    }
    
}