@charset "UTF-8";
/*
           Table OF Content


0 - Plugins
    a - bootstrap
    b - fontawesome
1 - Abstracts
    a - variables
    b - extends
    c - css3-mixins
    d - mixins
    e - loops
2 - Base
    a - animations
    b - bg-colors
    c - text-helpers
    d - mix-helpers
    e - base
3 - Components
    a - icons
    b - boxes
    c - buttons
    d - carousel
    e - forms
    f - lists
    g - modals
    h - tabs
4 - Layouts
    a - footer
    b - header
5 - section
    a - hero
6 - Pages
    a - home
*/
/*--------------*\
    Animations
\*--------------*/
/*--------------*\
    bg-color
\*--------------*/
/*--------------*\
    text-helpers
\*--------------*/
.text-underline {
  text-decoration: underline !important;
}

.txt-black {
  color: #000 !important;
}

/*--------------*\
    Mix-Helpers
\*--------------*/
.box-glow {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.separator-with-text {
  display: flex;
  align-items: center;
}
.separator-with-text:before, .separator-with-text:after {
  flex: 1;
  width: 100%;
  content: "";
  display: inline-block;
}
.separator-with-text:before {
  margin-right: 20px;
}
.separator-with-text:after {
  margin-left: 20px;
}

.row-7 {
  margin-left: -7px;
  margin-right: -7px;
}
.row-7 > div[class^=col-] {
  padding-left: 7px;
  padding-right: 7px;
}

@media only screen and (max-width: 767.98px) {
  .mobile-no-bg {
    background: none !important;
  }
}

.social-list {
  list-style: none;
}
.social-list li {
  display: inline-block;
}
.social-list li:not(:last-child) {
  margin-right: 20px;
}
.social-list li a {
  font-size: 22px;
  text-align: center;
}
.social-list li a i {
  color: rgba(255, 255, 255, 0.5);
}
.social-list li a:hover i.fa-facebook {
  color: #3b5998;
}
.social-list li a:hover i.fa-facebook-f {
  color: #3b5998;
}
.social-list li a:hover i.fa-twitter {
  color: #1da1f2;
}
.social-list li a:hover i.fa-linkedin {
  color: #0077b5;
}
.social-list li a:hover i.fa-youtube-play {
  color: #cd201f;
}

/*--------------*\
    Icon Section
\*--------------*/
.dot:before {
  content: "•";
}

i[class*=icon-] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon-facebook {
  display: inline-block;
  background-image: url("../images/icons/facebook.svg");
  width: 10px;
  height: 10px;
}

.icon-twitter {
  display: inline-block;
  background-image: url("../images/icons/twitter.png");
  width: 20px;
  height: 20px;
}

.icon-linkedin {
  display: inline-block;
  background-image: url("../images/icons/linkedin.svg");
  width: 20px;
  height: 20px;
}

.icon-back {
  display: inline-block;
  background-image: url("../images/icons/back.svg");
  width: 22px;
  height: 22px;
}

.icon-mail {
  display: inline-block;
  background-image: url("../images/icons/mail.svg");
  width: 31px;
  height: 31px;
}

.icon-calender {
  display: inline-block;
  background-image: url("../images/icons/calender.svg");
  width: 36px;
  height: 40px;
}

.icon-heart {
  display: inline-block;
  background-image: url("../images/icons/heart.svg");
  width: 24px;
  height: 20px;
}

.icon-arrow {
  display: inline-block;
  background-image: url("../images/icons/arrow.svg");
  width: 16px;
  height: 26px;
}

.icon-vector {
  display: inline-block;
  background-image: url("../images/icons/vector.svg");
  width: 20px;
  height: 27px;
}

/*--------------*\
    Base
\*--------------*/
body {
  font-family: "Noto Sans Hebrew", sans-serif;
  background-color: #ffffff !important;
  position: relative;
  padding-bottom: 79px;
  min-height: 100vh;
}

.container {
  max-width: 767px;
  margin: 0 auto;
}

.bg-blue {
  background-color: #143964;
}

.btn-main-blue {
  background-color: #143963;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 15px;
  padding-left: 50px;
  text-align: right;
  position: relative;
  font-size: 14px;
  line-height: 1.5em;
  width: 100%;
}
.btn-main-blue::after {
  content: "";
  position: absolute;
  background: url("../images/icons/Vector.png") no-repeat 0 0;
  height: 27px;
  width: 35px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.check-circle {
  display: block;
  margin: 0 auto;
  width: 42px;
  height: 42px;
  border: 3px solid #143964;
  border-radius: 50%;
  line-height: 36px;
  text-align: center;
}

/*------------------*\
    Carousel Section
\*------------------*/
.wrapper {
  width: 100%;
  text-align: center;
}
.wrapper h2 {
  font-family: sans-serif;
  color: #fff;
}

.carousel {
  width: 90%;
  margin: 0px auto;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev, .slick-next {
  background: #000;
  border-radius: 15px;
  border-color: transparent;
}

.card {
  border: 2px solid #fff;
  box-shadow: 1px 1px 15px #ccc;
}

.card-body {
  background: #fff;
  width: 100%;
  vertical-align: top;
}

.card-content {
  text-align: left;
  color: #333;
  padding: 15px;
}

.card-text {
  font-size: 14px;
  font-weight: 300;
}

.wizard-steps {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.wizard-steps .step {
  width: 25%;
}
.wizard-steps .step p {
  margin-bottom: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5em;
  color: #636363;
}
.wizard-steps .step span {
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 auto;
  text-align: center;
  line-height: 14px;
  background-color: #AAAAAA;
  font-family: "Poppins";
  font-size: 9px;
  color: #DFDFDF;
  border-radius: 50%;
}
.wizard-steps .step + .step {
  position: relative;
}
.wizard-steps .step + .step:after {
  content: "";
  display: block;
  width: calc(100% - 26px);
  height: 1px;
  background-color: rgba(20, 57, 100, 0.5);
  position: absolute;
  left: calc(50% + 13px);
  bottom: 6px;
}
.wizard-steps .step.active {
  color: #143963;
}
.wizard-steps .step.active span {
  position: relative;
  overflow: hidden;
}
.wizard-steps .step.active span:after {
  content: "✔";
  background-color: #143963;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  z-index: 1;
  width: 14px;
  height: 14px;
  line-height: 14px;
}

.wizard-section {
  background: rgba(217, 217, 217, 0.1);
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  padding: 9px 0 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.seating-header .header-inner {
  flex-direction: row-reverse;
}
.seating-header .header-inner .header-right {
  text-align: left;
}

.drawer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.drawer .drawer-top {
  width: 100%;
  padding: 0 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawer .drawer-top .btn-left,
.drawer .drawer-top .btn-right {
  border-radius: 5px 5px 0 0;
  padding: 0 10px;
  font-size: 11px;
  line-height: 1.82em;
  text-align: center;
  color: #ffffff;
}
.drawer .drawer-top .btn-left {
  background: rgba(20, 57, 99, 0.9);
}
.drawer .drawer-top .btn-right {
  background-color: #3d6868;
}
.drawer .drawer-body {
  background: #f6f6f6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0 0;
  padding: 10px 0;
}
.drawer .drawer-body table {
  width: 100%;
}
.drawer .drawer-body table tr {
  border-bottom: 1px solid #B1B1B1;
}
.drawer .drawer-body table tr th {
  font-size: 11px;
  color: #B1B1B1;
}
.drawer .drawer-body table tr td {
  font-size: 14px;
  font-weight: 400;
  color: #636363;
}

.table-svg {
  width: 100%;
  margin-bottom: 34px;
  margin-top: 40px;
}

.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #143963;
}

.seating-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.seating-overlay:target {
  visibility: visible;
  opacity: 1;
}

.seating-popup {
  margin: 70px auto;
  padding: 22px 16px 14px;
  background: #fff;
  border-radius: 3px;
  width: 224px;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.seating-popup .close {
  position: absolute;
  top: -13px;
  right: -13px;
}
.seating-popup .close img {
  width: 28px;
  height: 28px;
}
.seating-popup h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
  line-height: 27px;
  color: #143964;
}
.seating-popup p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #636363;
}
.seating-popup .seating-check-box label {
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  margin-bottom: 18px;
}
.seating-popup .seating-popup-btns {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}
.seating-popup .seating-popup-btns button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: none;
  outline: none;
}
.seating-popup .seating-popup-btns .submit-btn {
  background-color: #143963;
  border-radius: 4px;
  color: #ffffff;
  width: 69px;
  height: 33px;
}
.seating-popup .seating-popup-btns .close-btn {
  color: #143963;
  text-decoration: underline;
  background-color: transparent;
}

.seating-check-box label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.seating-check-box label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.seating-check-box label .checkmark {
  position: absolute;
  top: 6px;
  right: -20px;
  height: 12px;
  width: 12px;
  background-color: #eee;
  border-radius: 50%;
}
.seating-check-box label .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.seating-check-box .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.seating-check-box .container input:checked ~ .checkmark {
  background-color: #2196f3;
}
.seating-check-box .container input:checked ~ .checkmark:after {
  display: block;
}

.warning-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.warning-overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.seat-warning-popup {
  font-family: "Poppins", sans-serif;
  margin: 70px auto;
  padding: 23px 17px 36px;
  background: #fff;
  border-radius: 3px;
  width: 224px;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.seat-warning-popup .close {
  position: absolute;
  top: -13px;
  right: -13px;
}
.seat-warning-popup .close img {
  width: 28px;
  height: 28px;
}
.seat-warning-popup h2 {
  font-size: 18px;
  font-weight: 700;
  color: #143964;
  line-height: 27px;
  margin-bottom: 19px;
}
.seat-warning-popup p {
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  margin-bottom: 35px;
}
.seat-warning-popup div {
  text-align: center;
}

.add-guest-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.add-guest-overlay:target {
  visibility: visible;
  opacity: 1;
}

.add-guest-popup {
  font-family: "Poppins", sans-serif;
  margin: 70px auto;
  padding: 23px 17px 36px;
  background: #fff;
  border-radius: 3px;
  width: 224px;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.add-guest-popup .close {
  position: absolute;
  top: -13px;
  right: -13px;
}
.add-guest-popup .close img {
  width: 28px;
  height: 28px;
}
.add-guest-popup h2 {
  font-size: 18px;
  font-weight: 700;
  color: #143964;
  line-height: 27px;
  margin-bottom: 20px;
  text-align: center;
}
.add-guest-popup p {
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  margin-bottom: 19px;
}
.add-guest-popup input {
  width: 100%;
}
.add-guest-popup .seating-popup-btns {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
}
.add-guest-popup .seating-popup-btns button {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  border: none;
  outline: none;
}
.add-guest-popup .seating-popup-btns .submit-btn {
  background-color: #143963;
  border-radius: 4px;
  color: #ffffff;
  width: 69px;
  height: 33px;
}
.add-guest-popup .seating-popup-btns .close-btn {
  color: #143963;
  text-decoration: underline;
  background-color: transparent;
}

/*--------------*\
    header Section
\*--------------*/
.main-header {
  color: #ffffff;
  text-align: center;
  padding: 7px 0;
}
.main-header h2.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}
.main-header h6.title {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
}
.main-header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header .header-right {
  color: #ffffff;
  text-align: right;
}
.main-header .header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-header .header-left button {
  background-color: transparent;
  outline: none;
  border: none;
}
.main-header .header-left button img {
  height: 22px;
  width: 22px;
}
.main-header .header-left p {
  color: #BBBBBB;
  font-size: 9px;
  font-weight: 400;
  margin-bottom: 0;
}

/*--------------*\
    Footer Section
\*--------------*/
/*--------------*\
    Home Page
\*--------------*/
.notification {
  text-align: center;
  padding: 10px 0;
}
.notification p {
  border-radius: 20px;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}
.notification.success p {
  background-color: rgba(0, 255, 0, 0.4392156863);
  color: #228711;
  font-size: 11px;
  font-weight: 400;
  padding: 3px 21px 3px 15px;
}
.notification.success p:before {
  content: "✔";
  position: absolute;
  height: 18px;
  width: 18px;
  right: 3px;
  top: 3px;
  z-index: 1;
  color: #228711;
}
.notification.danger p {
  background-color: rgba(255, 0, 0, 0.4392156863);
  color: #ff0000;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5em;
  padding: 3px 25px 3px 27px;
}
.notification.danger p:before {
  content: url("../images/icons/cross-red.png");
  position: absolute;
  height: 10px;
  width: 10px;
  right: 10px;
  top: 6px;
  z-index: 1;
}

.main-section .main-content {
  padding-top: 9px;
}
.main-section .main-content .main-content-head h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
}
.main-section .main-content .main-content-head h2:first-child {
  color: #143964;
}
.main-section .main-content .main-content-head h2:last-child {
  color: #0089bc;
}
.main-section .main-content .content-head-inner img {
  height: 112px;
  width: 112px;
  margin-bottom: 12px;
}
.main-section .main-content .content-head-inner h5 {
  font-size: 9px;
  font-weight: 400;
  margin-bottom: 0;
}
.main-section .main-content .content-head-inner h4 {
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
}
.main-section .main-content .content-head-inner h3 {
  font-size: 12px;
  font-weight: 400;
}
.main-section .main-content .content-head-inner h2 {
  font-size: 20px;
  font-weight: 700;
  color: #0089bc;
}
.main-section .text-danger {
  color: #ff3700;
  font-weight: 400;
  margin-top: 10px;
}
.main-section .main-content {
  text-align: center;
}
.main-section .main-content img {
  width: 100%;
}
.main-section .main-links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 7px;
  padding: 0 5px;
}
.main-section .main-links a {
  color: rgba(255, 55, 0, 0.7490196078);
}
.main-section .main-button {
  margin-bottom: 25px;
}

.home-modal .modal-body {
  padding: 20px 20px;
}
.home-modal .modal-body h2 {
  color: #143964;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 21px;
}
.home-modal .modal-body p {
  color: #636363;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  margin-bottom: 20px;
}
.home-modal .modal-body div {
  text-align: center;
  margin-bottom: 20px;
}
.home-modal .modal-body div .reminder {
  background-color: #143963;
  color: #ffffff;
  padding: 12px;
  padding-left: 40px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  font-size: 14px;
  font-weight: 400;
}
.home-modal .modal-body div .reminder::after {
  content: "";
  position: absolute;
  background-image: url("../images/icons/small-arrow-btn.svg");
  background-repeat: no-repeat;
  height: 17px;
  width: 26px;
  left: 12px;
  top: 14px;
  z-index: 999;
}
.home-modal .btn-close {
  margin: -0.5rem 0 -0.5rem -0.5rem;
  position: absolute;
  top: -13px;
  right: -18px;
  background-color: #d9d9d9;
  border-radius: 50px;
  color: #143964;
  opacity: 1;
  border: 1px solid #ffffff;
  width: 28px;
  height: 28px;
}
.home-modal .close-app {
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  background-color: #f1f1f1;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
.home-modal .modal-dialog {
  margin: 0 20px !important;
}

.tables-container {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
}

.table-content {
  padding-top: 15px;
}
.table-content p {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 1.7rem;
}
.table-content .stage {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 1px;
  position: absolute;
  top: 120px;
  width: 80px;
  height: 170px;
  font-size: 14px;
  line-height: 1.4em;
  display: flex;
  align-items: center;
}
.table-content .stage p {
  color: #aaaaaa;
  margin-bottom: 0;
  text-align: center;
}
.table-content table {
  width: 100%;
  margin-top: 20px;
}
.table-content table tbody {
  line-height: 80px;
  position: relative;
}
.table-content table tbody td {
  text-align: left;
}

.reminder-content {
  padding-top: 22px;
  text-align: center;
}
.reminder-content .gray-box {
  background-color: #F8F8F8;
  padding: 35px 15px 30px;
  margin-top: 27px;
}
.reminder-content .gray-box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 23px;
  color: #143964;
}
.reminder-content .gray-box p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 50px;
}
.reminder-content .gray-box button {
  color: #AAAAAA;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.place-header-section {
  background-color: #143964;
  padding: 10px 0;
}
.place-header-section .place-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.place-header-section .place-header-content .header-right p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.place-header-section .place-header-content .header-right h2 {
  font-size: 22px;
  font-weight: 700;
}
.place-header-section .place-header-content .header-left button {
  background-color: transparent;
  border: none;
  outline: none;
}
.place-header-section .place-header-content .header-left button img {
  height: 28px;
  width: 28px;
}
.place-header-section .place-header-content .header-left p {
  color: #888888;
  font-weight: 300;
  margin-bottom: 0;
}

.place-header-content .content-top {
  text-align: center;
  padding: 25px 0;
  font-size: 20px;
}
.place-header-content .content-top h4 {
  font-weight: 400;
  margin: 15px 0;
  font-size: 20px;
}
.place-header-content .content-top h3 {
  font-weight: 700;
  font-size: 17px;
}
.place-header-content .line {
  border-top: 2px solid rgba(153, 153, 153, 0.5019607843);
  width: 100%;
  margin: 0 auto;
}
.place-header-content .content-bottom {
  text-align: center;
  padding: 25px 0;
  font-size: 20px;
}
.place-header-content .content-bottom h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.place-header-content .content-bottom p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.place-header-content .content-bottom .main-button button {
  font-size: 16px;
  font-weight: 400;
}

.done-content {
  padding-top: 30px;
}
.done-content .done-inner-content {
  text-align: center;
}
.done-content .done-inner-content h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 8px 0 10px;
}
.done-content .done-inner-content h3 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 20px;
}
.done-content .done-inner-content h4 {
  font-size: 16px;
  font-weight: 400;
  padding: 0 45px;
  margin-bottom: 20px;
}
.done-content .done-inner-content p {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.done-content .done-inner-content p:before {
  content: "";
  background: url("../images/icons/glass.svg") no-repeat 0 0;
  width: 37px;
  height: 38px;
  position: absolute;
  top: -35px;
  left: 1px;
}
.done-content .done-section-buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 40px;
}
.done-content .done-section-buttons a {
  background-color: #143964;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  line-height: 1.5em;
}
.done-content .done-section-buttons a img {
  display: block;
  margin: 0 auto 5px;
}

.calender-content {
  padding: 22px 0 39px;
}
.calender-content .calender-content-top img {
  margin-bottom: 16px;
}
.calender-content .calender-content-top h2 {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.calender-content .calender-content-top .calender-btn {
  text-align: center;
}
.calender-content .calender-content-top .calender-btn button {
  font-size: 12px;
  font-weight: 400;
  max-width: 147px;
  padding: 5px 16px;
}
.calender-content .calender-content-top .calender-btn button::after {
  background: url("../images/icons/small-arrow-btn.svg") no-repeat 0 0;
  width: 8px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.calender-content .calender-content-top .calender-icons {
  padding: 39px 0 18px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.calender-content .calender-content-top .calender-icons a {
  text-decoration: none;
  color: #AAAAAA;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.calender-content .calender-line {
  border-top: 1px solid rgba(153, 153, 153, 0.5019607843);
}
.calender-content .calender-content-bottom {
  padding-top: 16px;
}
.calender-content .calender-content-bottom img {
  margin-bottom: 4px;
}
.calender-content .calender-content-bottom p {
  color: #636363;
  font-size: 13px;
  font-weight: 400;
}

.venue-content {
  padding-bottom: 16px;
}
.venue-content .venue-content-top {
  padding: 22px 0 31px;
  display: flex;
  justify-content: space-around;
}
.venue-content .venue-content-top .head-content {
  color: #5e6b23;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.venue-content .venue-content-top .head-content h2 {
  font-size: 24px;
  font-weight: 800;
}
.venue-content .venue-content-top .head-content p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}
.venue-content .choose-venue {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.venue-content .navigator-icons {
  padding: 0 0 0 18px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.venue-content .navigator-icons a {
  text-decoration: none;
  color: #aaaaaa;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.venue-content .navigator-icons a img {
  margin-bottom: 11px;
  display: block;
}

.venue-area {
  padding: 10px 0;
}
.venue-area .gmap_canvas {
  text-align: center;
  overflow: hidden;
  background: none !important;
  height: 206px;
  width: 100%;
}
.venue-area #gmap_canvas {
  width: 100%;
}
.venue-area .mapouter {
  position: relative;
  text-align: right;
  width: 100%;
}
.venue-area .gallery-image {
  text-align: center;
  margin-top: 50px;
}
.venue-area .venue-gallery {
  padding: 25px 0 8px;
  text-align: center;
}
.venue-area .venue-gallery h2 {
  font-size: 16px;
  font-weight: 700;
}
.venue-area .venue-gallery h3 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 36px;
}

.venue-discription {
  padding-top: 25px;
  text-align: center;
}
.venue-discription p {
  font-size: 14px;
  font-weight: 400;
}

.summary-section-content {
  padding-top: 25px;
}
.summary-section-content .summary-content {
  line-height: 26px;
}
.summary-section-content .summary-content img {
  margin-bottom: 12px;
}
.summary-section-content .summary-content h2 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0;
}
.summary-section-content .summary-content p {
  font-size: 14px;
  font-weight: 400;
}
.summary-section-content .summary-content h3 {
  font-size: 14px;
  font-weight: 700;
}
.summary-section-content .summary-mail {
  text-align: center;
  padding: 5px 0;
}
.summary-section-content .summary-mail input {
  display: block;
  margin: 0 auto;
  width: 75%;
  margin: 0 auto;
  outline: none;
  background-color: #F6F6F6;
  border-color: rgba(136, 136, 136, 0.5019607843);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 18px;
}
.summary-section-content .summary-mail .mail-btn {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  max-width: 174px;
  margin-bottom: 26px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
}
.summary-section-content .summary-mail .mail-btn:after {
  background: url("../images/icons/btn-mail.svg") no-repeat 0 0;
  height: 15px;
}
.summary-section-content .summary-mail p {
  margin-bottom: 17px;
  color: #636363;
}
.summary-section-content .summary-mail .download-btn {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}
.summary-section-content .summary-mail .download-btn:after {
  background: url("../images/icons/download.svg") no-repeat 0 0;
  height: 20px;
  left: 62px;
}

.reenter-inner-content {
  text-align: center;
}
.reenter-inner-content .check-circle {
  margin-bottom: 25px;
}
.reenter-inner-content h2 {
  margin-bottom: 0px;
  font-size: 17px;
  font-weight: 400;
  PADDING: 0px 7px;
}
.reenter-inner-content h3 {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
  color: #0089bc;
}
.reenter-inner-content p {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.reenter-inner-content p:before {
  content: "";
  background: url("../images/icons/glass.svg") no-repeat 0 0;
  width: 37px;
  height: 38px;
  position: absolute;
  top: -35px;
  left: 1px;
}

.survey-header {
  background-color: #9c6fd6;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
}
.survey-header .header-inner {
  justify-content: center;
}
.survey-header .header-inner h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 0;
}

.survey-content {
  padding: 15px 20px 12px;
}
.survey-content .survey-content-top {
  padding-bottom: 30px;
}
.survey-content .survey-content-top h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}
.survey-content .survey-content-top h1 {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 0;
}
.survey-content .survey-list ul {
  line-height: 22px;
  padding-left: 0;
  padding-right: 8px;
}
.survey-content .survey-list ul li {
  font-size: 14px;
  font-weight: 400;
  list-style-type: decimal;
}
.survey-content .survey-list ul li p {
  font-size: 11px;
  font-weight: 400;
}
.survey-content .survey-list ul li .rating {
  display: flex;
  justify-content: space-around;
  padding-top: 16px;
  padding-bottom: 5px;
  flex-direction: row-reverse;
}
.survey-content .survey-list ul li .rating button {
  border: none;
  outline: none;
  background-color: #d9d9d9;
  border-radius: 50%;
  height: 31px;
  width: 31px;
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  color: #000000;
}
.survey-content .survey-list ul li .rating button.active {
  background-color: #a103a5;
  color: #ffffff;
}
.survey-content .survey-list ul li .rating-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.survey-content .survey-list ul li .rating-btns button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #696969;
  font-size: 9px;
  font-weight: 400;
}
.survey-content .survey-popup-btn {
  text-align: center;
}
.survey-content .survey-popup-btn button {
  background-color: #842c86;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  padding-left: 50px;
  text-align: right;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}
.survey-content .survey-popup-btn button a {
  color: #ffffff;
  text-decoration: none;
}
.survey-content .survey-popup-btn button a:hover {
  color: #ffffff;
}
.survey-content .survey-popup-btn button::after {
  content: "";
  position: absolute;
  background: url("../images/icons/btn-arrow.svg") no-repeat 0 0;
  height: 17px;
  width: 15px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.survey-content .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.survey-content .overlay:target {
  visibility: visible;
  opacity: 1;
}
.survey-content .popup {
  padding: 22px 14px;
  background: #fff;
  border-radius: 5px;
  width: 224px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.survey-content .popup h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #842c86;
  line-height: 27px;
}
.survey-content .popup p {
  font-size: 14px;
  font-weight: 400;
  color: #636363;
  margin-bottom: 18px;
  line-height: 21px;
}
.survey-content .popup img {
  display: block;
  margin: 0 auto;
  width: 72px;
  height: 83px;
  margin-bottom: 18px;
}
.survey-content .popup a {
  font-size: 12px;
  font-weight: 400;
  color: #636363;
  text-align: center;
}
.survey-content .popup div {
  text-align: center;
}

.menu-header .header-inner {
  display: flex;
  flex-direction: row-reverse;
}
.menu-header .header-inner .header-right {
  text-align: left;
}

.menu-content .menu-discription {
  padding: 18px 0 0;
}
.menu-content .menu-discription p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.menu-content .menu-slider h2 {
  text-align: center;
  color: #143964;
  font-size: 18px;
  font-weight: 800;
  margin-top: 18px;
}
.menu-content .menu-slider .carousel .slick-slide {
  position: relative;
}
.menu-content .menu-slider .carousel .slick-slide .choose-dish {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.menu-content .menu-slider .carousel .slick-slide .choose-dish button {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  border: none;
  outline: none;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.menu-content .menu-slider .carousel .slick-slide .choose-dish button p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.menu-content .menu-slider .carousel .slick-slide .choose-dish button img {
  width: 30px;
  height: 30px;
}
.menu-content .menu-slider .carousel .slick-active .choose-dish {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
